competence_data/src/komp_suchworte.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="suchworte">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="suchwort"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="suchwort">
        <xs:complexType mixed="true">
            <xs:attribute name="id" use="required" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
