competence-database/src/main/scala/Portlet_Social_SocialActivityService.wsdl

<?xml version="1.0"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:http.service.social.portlet.liferay.com" xmlns:intf="urn:http.service.social.portlet.liferay.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://model.social.portlet.liferay.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:http.service.social.portlet.liferay.com">
	<!--WSDL created by Apache Axis version: 1.4Built on Apr 22, 2006 (06:55:48 PDT)-->
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://model.social.portlet.liferay.com">
			<import namespace="urn:http.service.social.portlet.liferay.com"/>
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			<complexType name="SocialActivitySoap">
				<sequence>
					<element name="activityId" type="xsd:long"/>
					<element name="activitySetId" type="xsd:long"/>
					<element name="classNameId" type="xsd:long"/>
					<element name="classPK" type="xsd:long"/>
					<element name="companyId" type="xsd:long"/>
					<element name="createDate" type="xsd:long"/>
					<element name="extraData" nillable="true" type="soapenc:string"/>
					<element name="groupId" type="xsd:long"/>
					<element name="mirrorActivityId" type="xsd:long"/>
					<element name="parentClassNameId" type="xsd:long"/>
					<element name="parentClassPK" type="xsd:long"/>
					<element name="primaryKey" type="xsd:long"/>
					<element name="receiverUserId" type="xsd:long"/>
					<element name="type" type="xsd:int"/>
					<element name="userId" type="xsd:long"/>
				</sequence>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:http.service.social.portlet.liferay.com">
			<import namespace="http://model.social.portlet.liferay.com"/>
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			<complexType name="ArrayOf_tns2_SocialActivitySoap">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:SocialActivitySoap[]"/>
					</restriction>
				</complexContent>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="getRelationActivitiesResponse1">
		<wsdl:part name="getRelationActivitiesReturn" type="impl:ArrayOf_tns2_SocialActivitySoap"/>
	</wsdl:message>
	<wsdl:message name="getActivitiesCountRequest3">
		<wsdl:part name="className" type="xsd:string"/>
	</wsdl:message>
	<wsdl:message name="getOrganizationUsersActivitiesRequest">
		<wsdl:part name="organizationId" type="xsd:long"/>
		<wsdl:part name="start" type="xsd:int"/>
		<wsdl:part name="end" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getUserGroupsActivitiesResponse">
		<wsdl:part name="getUserGroupsActivitiesReturn" type="impl:ArrayOf_tns2_SocialActivitySoap"/>
	</wsdl:message>
	<wsdl:message name="getActivitiesCountRequest2">
		<wsdl:part name="mirrorActivityId" type="xsd:long"/>
		<wsdl:part name="className" type="xsd:string"/>
		<wsdl:part name="classPK" type="xsd:long"/>
	</wsdl:message>
	<wsdl:message name="getActivitiesCountRequest1">
		<wsdl:part name="mirrorActivityId" type="xsd:long"/>
		<wsdl:part name="classNameId" type="xsd:long"/>
		<wsdl:part name="classPK" type="xsd:long"/>
	</wsdl:message>
	<wsdl:message name="getRelationActivitiesResponse">
		<wsdl:part name="getRelationActivitiesReturn" type="impl:ArrayOf_tns2_SocialActivitySoap"/>
	</wsdl:message>
	<wsdl:message name="getUserOrganizationsActivitiesCountRequest">
		<wsdl:part name="userId" type="xsd:long"/>
	</wsdl:message>
	<wsdl:message name="getActivitiesRequest">
		<wsdl:part name="classNameId" type="xsd:long"/>
		<wsdl:part name="start" type="xsd:int"/>
		<wsdl:part name="end" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getOrganizationUsersActivitiesCountRequest">
		<wsdl:part name="organizationId" type="xsd:long"/>
	</wsdl:message>
	<wsdl:message name="getOrganizationUsersActivitiesCountResponse">
		<wsdl:part name="getOrganizationUsersActivitiesCountReturn" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getRelationActivitiesCountResponse1">
		<wsdl:part name="getRelationActivitiesCountReturn" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getUserGroupsActivitiesRequest">
		<wsdl:part name="userId" type="xsd:long"/>
		<wsdl:part name="start" type="xsd:int"/>
		<wsdl:part name="end" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getRelationActivitiesCountRequest1">
		<wsdl:part name="userId" type="xsd:long"/>
		<wsdl:part name="type" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getGroupUsersActivitiesCountResponse">
		<wsdl:part name="getGroupUsersActivitiesCountReturn" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getActivitiesCountResponse">
		<wsdl:part name="getActivitiesCountReturn" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getOrganizationActivitiesResponse">
		<wsdl:part name="getOrganizationActivitiesReturn" type="impl:ArrayOf_tns2_SocialActivitySoap"/>
	</wsdl:message>
	<wsdl:message name="getGroupUsersActivitiesRequest">
		<wsdl:part name="groupId" type="xsd:long"/>
		<wsdl:part name="start" type="xsd:int"/>
		<wsdl:part name="end" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getUserOrganizationsActivitiesResponse">
		<wsdl:part name="getUserOrganizationsActivitiesReturn" type="impl:ArrayOf_tns2_SocialActivitySoap"/>
	</wsdl:message>
	<wsdl:message name="getOrganizationUsersActivitiesResponse">
		<wsdl:part name="getOrganizationUsersActivitiesReturn" type="impl:ArrayOf_tns2_SocialActivitySoap"/>
	</wsdl:message>
	<wsdl:message name="getOrganizationActivitiesCountRequest">
		<wsdl:part name="organizationId" type="xsd:long"/>
	</wsdl:message>
	<wsdl:message name="getMirrorActivityResponse">
		<wsdl:part name="getMirrorActivityReturn" type="tns1:SocialActivitySoap"/>
	</wsdl:message>
	<wsdl:message name="getGroupUsersActivitiesCountRequest">
		<wsdl:part name="groupId" type="xsd:long"/>
	</wsdl:message>
	<wsdl:message name="getRelationActivitiesRequest">
		<wsdl:part name="userId" type="xsd:long"/>
		<wsdl:part name="start" type="xsd:int"/>
		<wsdl:part name="end" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getUserActivitiesCountResponse">
		<wsdl:part name="getUserActivitiesCountReturn" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getUserGroupsAndOrganizationsActivitiesRequest">
		<wsdl:part name="userId" type="xsd:long"/>
		<wsdl:part name="start" type="xsd:int"/>
		<wsdl:part name="end" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getActivitiesRequest1">
		<wsdl:part name="mirrorActivityId" type="xsd:long"/>
		<wsdl:part name="classNameId" type="xsd:long"/>
		<wsdl:part name="classPK" type="xsd:long"/>
		<wsdl:part name="start" type="xsd:int"/>
		<wsdl:part name="end" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getActivitiesRequest2">
		<wsdl:part name="mirrorActivityId" type="xsd:long"/>
		<wsdl:part name="className" type="xsd:string"/>
		<wsdl:part name="classPK" type="xsd:long"/>
		<wsdl:part name="start" type="xsd:int"/>
		<wsdl:part name="end" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getActivitiesRequest3">
		<wsdl:part name="className" type="xsd:string"/>
		<wsdl:part name="start" type="xsd:int"/>
		<wsdl:part name="end" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getOrganizationActivitiesCountResponse">
		<wsdl:part name="getOrganizationActivitiesCountReturn" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getActivitySetActivitiesResponse">
		<wsdl:part name="getActivitySetActivitiesReturn" type="impl:ArrayOf_tns2_SocialActivitySoap"/>
	</wsdl:message>
	<wsdl:message name="getRelationActivitiesCountRequest">
		<wsdl:part name="userId" type="xsd:long"/>
	</wsdl:message>
	<wsdl:message name="getActivityResponse">
		<wsdl:part name="getActivityReturn" type="tns1:SocialActivitySoap"/>
	</wsdl:message>
	<wsdl:message name="getRelationActivitiesCountResponse">
		<wsdl:part name="getRelationActivitiesCountReturn" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getActivityRequest">
		<wsdl:part name="activityId" type="xsd:long"/>
	</wsdl:message>
	<wsdl:message name="getUserOrganizationsActivitiesRequest">
		<wsdl:part name="userId" type="xsd:long"/>
		<wsdl:part name="start" type="xsd:int"/>
		<wsdl:part name="end" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getActivitiesCountResponse1">
		<wsdl:part name="getActivitiesCountReturn" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getActivitiesCountResponse2">
		<wsdl:part name="getActivitiesCountReturn" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getActivitiesResponse1">
		<wsdl:part name="getActivitiesReturn" type="impl:ArrayOf_tns2_SocialActivitySoap"/>
	</wsdl:message>
	<wsdl:message name="getRelationActivitiesRequest1">
		<wsdl:part name="userId" type="xsd:long"/>
		<wsdl:part name="type" type="xsd:int"/>
		<wsdl:part name="start" type="xsd:int"/>
		<wsdl:part name="end" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getUserActivitiesResponse">
		<wsdl:part name="getUserActivitiesReturn" type="impl:ArrayOf_tns2_SocialActivitySoap"/>
	</wsdl:message>
	<wsdl:message name="getActivitiesResponse2">
		<wsdl:part name="getActivitiesReturn" type="impl:ArrayOf_tns2_SocialActivitySoap"/>
	</wsdl:message>
	<wsdl:message name="getActivitiesCountResponse3">
		<wsdl:part name="getActivitiesCountReturn" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getUserGroupsAndOrganizationsActivitiesResponse">
		<wsdl:part name="getUserGroupsAndOrganizationsActivitiesReturn" type="impl:ArrayOf_tns2_SocialActivitySoap"/>
	</wsdl:message>
	<wsdl:message name="getActivitiesResponse3">
		<wsdl:part name="getActivitiesReturn" type="impl:ArrayOf_tns2_SocialActivitySoap"/>
	</wsdl:message>
	<wsdl:message name="getActivitiesCountRequest">
		<wsdl:part name="classNameId" type="xsd:long"/>
	</wsdl:message>
	<wsdl:message name="getOrganizationActivitiesRequest">
		<wsdl:part name="organizationId" type="xsd:long"/>
		<wsdl:part name="start" type="xsd:int"/>
		<wsdl:part name="end" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getUserOrganizationsActivitiesCountResponse">
		<wsdl:part name="getUserOrganizationsActivitiesCountReturn" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getMirrorActivityRequest">
		<wsdl:part name="mirrorActivityId" type="xsd:long"/>
	</wsdl:message>
	<wsdl:message name="getGroupActivitiesResponse">
		<wsdl:part name="getGroupActivitiesReturn" type="impl:ArrayOf_tns2_SocialActivitySoap"/>
	</wsdl:message>
	<wsdl:message name="getGroupUsersActivitiesResponse">
		<wsdl:part name="getGroupUsersActivitiesReturn" type="impl:ArrayOf_tns2_SocialActivitySoap"/>
	</wsdl:message>
	<wsdl:message name="getActivitySetActivitiesRequest">
		<wsdl:part name="activitySetId" type="xsd:long"/>
		<wsdl:part name="start" type="xsd:int"/>
		<wsdl:part name="end" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getUserActivitiesCountRequest">
		<wsdl:part name="userId" type="xsd:long"/>
	</wsdl:message>
	<wsdl:message name="getGroupActivitiesCountRequest">
		<wsdl:part name="groupId" type="xsd:long"/>
	</wsdl:message>
	<wsdl:message name="getUserGroupsActivitiesCountResponse">
		<wsdl:part name="getUserGroupsActivitiesCountReturn" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getGroupActivitiesRequest">
		<wsdl:part name="groupId" type="xsd:long"/>
		<wsdl:part name="start" type="xsd:int"/>
		<wsdl:part name="end" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getActivitiesResponse">
		<wsdl:part name="getActivitiesReturn" type="impl:ArrayOf_tns2_SocialActivitySoap"/>
	</wsdl:message>
	<wsdl:message name="getGroupActivitiesCountResponse">
		<wsdl:part name="getGroupActivitiesCountReturn" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getUserActivitiesRequest">
		<wsdl:part name="userId" type="xsd:long"/>
		<wsdl:part name="start" type="xsd:int"/>
		<wsdl:part name="end" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getUserGroupsAndOrganizationsActivitiesCountResponse">
		<wsdl:part name="getUserGroupsAndOrganizationsActivitiesCountReturn" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="getUserGroupsActivitiesCountRequest">
		<wsdl:part name="userId" type="xsd:long"/>
	</wsdl:message>
	<wsdl:message name="getUserGroupsAndOrganizationsActivitiesCountRequest">
		<wsdl:part name="userId" type="xsd:long"/>
	</wsdl:message>
	<wsdl:portType name="SocialActivityServiceSoap">
		<wsdl:operation name="getActivitiesCount" parameterOrder="classNameId">
			<wsdl:input message="impl:getActivitiesCountRequest" name="getActivitiesCountRequest"/>
			<wsdl:output message="impl:getActivitiesCountResponse" name="getActivitiesCountResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getActivitiesCount" parameterOrder="mirrorActivityId classNameId classPK">
			<wsdl:input message="impl:getActivitiesCountRequest1" name="getActivitiesCountRequest1"/>
			<wsdl:output message="impl:getActivitiesCountResponse1" name="getActivitiesCountResponse1"/>
		</wsdl:operation>
		<wsdl:operation name="getActivitiesCount" parameterOrder="mirrorActivityId className classPK">
			<wsdl:input message="impl:getActivitiesCountRequest2" name="getActivitiesCountRequest2"/>
			<wsdl:output message="impl:getActivitiesCountResponse2" name="getActivitiesCountResponse2"/>
		</wsdl:operation>
		<wsdl:operation name="getActivitiesCount" parameterOrder="className">
			<wsdl:input message="impl:getActivitiesCountRequest3" name="getActivitiesCountRequest3"/>
			<wsdl:output message="impl:getActivitiesCountResponse3" name="getActivitiesCountResponse3"/>
		</wsdl:operation>
		<wsdl:operation name="getActivities" parameterOrder="classNameId start end">
			<wsdl:input message="impl:getActivitiesRequest" name="getActivitiesRequest"/>
			<wsdl:output message="impl:getActivitiesResponse" name="getActivitiesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getActivities" parameterOrder="mirrorActivityId classNameId classPK start end">
			<wsdl:input message="impl:getActivitiesRequest1" name="getActivitiesRequest1"/>
			<wsdl:output message="impl:getActivitiesResponse1" name="getActivitiesResponse1"/>
		</wsdl:operation>
		<wsdl:operation name="getActivities" parameterOrder="mirrorActivityId className classPK start end">
			<wsdl:input message="impl:getActivitiesRequest2" name="getActivitiesRequest2"/>
			<wsdl:output message="impl:getActivitiesResponse2" name="getActivitiesResponse2"/>
		</wsdl:operation>
		<wsdl:operation name="getActivities" parameterOrder="className start end">
			<wsdl:input message="impl:getActivitiesRequest3" name="getActivitiesRequest3"/>
			<wsdl:output message="impl:getActivitiesResponse3" name="getActivitiesResponse3"/>
		</wsdl:operation>
		<wsdl:operation name="getActivitySetActivities" parameterOrder="activitySetId start end">
			<wsdl:input message="impl:getActivitySetActivitiesRequest" name="getActivitySetActivitiesRequest"/>
			<wsdl:output message="impl:getActivitySetActivitiesResponse" name="getActivitySetActivitiesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getActivity" parameterOrder="activityId">
			<wsdl:input message="impl:getActivityRequest" name="getActivityRequest"/>
			<wsdl:output message="impl:getActivityResponse" name="getActivityResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getGroupActivitiesCount" parameterOrder="groupId">
			<wsdl:input message="impl:getGroupActivitiesCountRequest" name="getGroupActivitiesCountRequest"/>
			<wsdl:output message="impl:getGroupActivitiesCountResponse" name="getGroupActivitiesCountResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getGroupActivities" parameterOrder="groupId start end">
			<wsdl:input message="impl:getGroupActivitiesRequest" name="getGroupActivitiesRequest"/>
			<wsdl:output message="impl:getGroupActivitiesResponse" name="getGroupActivitiesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getGroupUsersActivitiesCount" parameterOrder="groupId">
			<wsdl:input message="impl:getGroupUsersActivitiesCountRequest" name="getGroupUsersActivitiesCountRequest"/>
			<wsdl:output message="impl:getGroupUsersActivitiesCountResponse" name="getGroupUsersActivitiesCountResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getGroupUsersActivities" parameterOrder="groupId start end">
			<wsdl:input message="impl:getGroupUsersActivitiesRequest" name="getGroupUsersActivitiesRequest"/>
			<wsdl:output message="impl:getGroupUsersActivitiesResponse" name="getGroupUsersActivitiesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getMirrorActivity" parameterOrder="mirrorActivityId">
			<wsdl:input message="impl:getMirrorActivityRequest" name="getMirrorActivityRequest"/>
			<wsdl:output message="impl:getMirrorActivityResponse" name="getMirrorActivityResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getOrganizationActivitiesCount" parameterOrder="organizationId">
			<wsdl:input message="impl:getOrganizationActivitiesCountRequest" name="getOrganizationActivitiesCountRequest"/>
			<wsdl:output message="impl:getOrganizationActivitiesCountResponse" name="getOrganizationActivitiesCountResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getOrganizationActivities" parameterOrder="organizationId start end">
			<wsdl:input message="impl:getOrganizationActivitiesRequest" name="getOrganizationActivitiesRequest"/>
			<wsdl:output message="impl:getOrganizationActivitiesResponse" name="getOrganizationActivitiesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getOrganizationUsersActivitiesCount" parameterOrder="organizationId">
			<wsdl:input message="impl:getOrganizationUsersActivitiesCountRequest" name="getOrganizationUsersActivitiesCountRequest"/>
			<wsdl:output message="impl:getOrganizationUsersActivitiesCountResponse" name="getOrganizationUsersActivitiesCountResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getOrganizationUsersActivities" parameterOrder="organizationId start end">
			<wsdl:input message="impl:getOrganizationUsersActivitiesRequest" name="getOrganizationUsersActivitiesRequest"/>
			<wsdl:output message="impl:getOrganizationUsersActivitiesResponse" name="getOrganizationUsersActivitiesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getRelationActivitiesCount" parameterOrder="userId">
			<wsdl:input message="impl:getRelationActivitiesCountRequest" name="getRelationActivitiesCountRequest"/>
			<wsdl:output message="impl:getRelationActivitiesCountResponse" name="getRelationActivitiesCountResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getRelationActivitiesCount" parameterOrder="userId type">
			<wsdl:input message="impl:getRelationActivitiesCountRequest1" name="getRelationActivitiesCountRequest1"/>
			<wsdl:output message="impl:getRelationActivitiesCountResponse1" name="getRelationActivitiesCountResponse1"/>
		</wsdl:operation>
		<wsdl:operation name="getRelationActivities" parameterOrder="userId start end">
			<wsdl:input message="impl:getRelationActivitiesRequest" name="getRelationActivitiesRequest"/>
			<wsdl:output message="impl:getRelationActivitiesResponse" name="getRelationActivitiesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getRelationActivities" parameterOrder="userId type start end">
			<wsdl:input message="impl:getRelationActivitiesRequest1" name="getRelationActivitiesRequest1"/>
			<wsdl:output message="impl:getRelationActivitiesResponse1" name="getRelationActivitiesResponse1"/>
		</wsdl:operation>
		<wsdl:operation name="getUserActivitiesCount" parameterOrder="userId">
			<wsdl:input message="impl:getUserActivitiesCountRequest" name="getUserActivitiesCountRequest"/>
			<wsdl:output message="impl:getUserActivitiesCountResponse" name="getUserActivitiesCountResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getUserActivities" parameterOrder="userId start end">
			<wsdl:input message="impl:getUserActivitiesRequest" name="getUserActivitiesRequest"/>
			<wsdl:output message="impl:getUserActivitiesResponse" name="getUserActivitiesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getUserGroupsActivitiesCount" parameterOrder="userId">
			<wsdl:input message="impl:getUserGroupsActivitiesCountRequest" name="getUserGroupsActivitiesCountRequest"/>
			<wsdl:output message="impl:getUserGroupsActivitiesCountResponse" name="getUserGroupsActivitiesCountResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getUserGroupsActivities" parameterOrder="userId start end">
			<wsdl:input message="impl:getUserGroupsActivitiesRequest" name="getUserGroupsActivitiesRequest"/>
			<wsdl:output message="impl:getUserGroupsActivitiesResponse" name="getUserGroupsActivitiesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getUserGroupsAndOrganizationsActivitiesCount" parameterOrder="userId">
			<wsdl:input message="impl:getUserGroupsAndOrganizationsActivitiesCountRequest" name="getUserGroupsAndOrganizationsActivitiesCountRequest"/>
			<wsdl:output message="impl:getUserGroupsAndOrganizationsActivitiesCountResponse" name="getUserGroupsAndOrganizationsActivitiesCountResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getUserGroupsAndOrganizationsActivities" parameterOrder="userId start end">
			<wsdl:input message="impl:getUserGroupsAndOrganizationsActivitiesRequest" name="getUserGroupsAndOrganizationsActivitiesRequest"/>
			<wsdl:output message="impl:getUserGroupsAndOrganizationsActivitiesResponse" name="getUserGroupsAndOrganizationsActivitiesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getUserOrganizationsActivitiesCount" parameterOrder="userId">
			<wsdl:input message="impl:getUserOrganizationsActivitiesCountRequest" name="getUserOrganizationsActivitiesCountRequest"/>
			<wsdl:output message="impl:getUserOrganizationsActivitiesCountResponse" name="getUserOrganizationsActivitiesCountResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getUserOrganizationsActivities" parameterOrder="userId start end">
			<wsdl:input message="impl:getUserOrganizationsActivitiesRequest" name="getUserOrganizationsActivitiesRequest"/>
			<wsdl:output message="impl:getUserOrganizationsActivitiesResponse" name="getUserOrganizationsActivitiesResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Portlet_Social_SocialActivityServiceSoapBinding" type="impl:SocialActivityServiceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getActivitiesCount">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getActivitiesCountRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getActivitiesCountResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getActivitiesCount">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getActivitiesCountRequest1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getActivitiesCountResponse1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getActivitiesCount">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getActivitiesCountRequest2">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getActivitiesCountResponse2">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getActivitiesCount">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getActivitiesCountRequest3">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getActivitiesCountResponse3">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getActivities">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getActivitiesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getActivitiesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getActivities">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getActivitiesRequest1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getActivitiesResponse1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getActivities">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getActivitiesRequest2">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getActivitiesResponse2">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getActivities">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getActivitiesRequest3">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getActivitiesResponse3">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getActivitySetActivities">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getActivitySetActivitiesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getActivitySetActivitiesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getActivity">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getActivityRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getActivityResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getGroupActivitiesCount">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getGroupActivitiesCountRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getGroupActivitiesCountResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getGroupActivities">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getGroupActivitiesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getGroupActivitiesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getGroupUsersActivitiesCount">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getGroupUsersActivitiesCountRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getGroupUsersActivitiesCountResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getGroupUsersActivities">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getGroupUsersActivitiesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getGroupUsersActivitiesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getMirrorActivity">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getMirrorActivityRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getMirrorActivityResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOrganizationActivitiesCount">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getOrganizationActivitiesCountRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getOrganizationActivitiesCountResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOrganizationActivities">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getOrganizationActivitiesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getOrganizationActivitiesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOrganizationUsersActivitiesCount">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getOrganizationUsersActivitiesCountRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getOrganizationUsersActivitiesCountResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOrganizationUsersActivities">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getOrganizationUsersActivitiesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getOrganizationUsersActivitiesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRelationActivitiesCount">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getRelationActivitiesCountRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getRelationActivitiesCountResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRelationActivitiesCount">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getRelationActivitiesCountRequest1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getRelationActivitiesCountResponse1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRelationActivities">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getRelationActivitiesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getRelationActivitiesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRelationActivities">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getRelationActivitiesRequest1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getRelationActivitiesResponse1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserActivitiesCount">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getUserActivitiesCountRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getUserActivitiesCountResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserActivities">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getUserActivitiesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getUserActivitiesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserGroupsActivitiesCount">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getUserGroupsActivitiesCountRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getUserGroupsActivitiesCountResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserGroupsActivities">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getUserGroupsActivitiesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getUserGroupsActivitiesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserGroupsAndOrganizationsActivitiesCount">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getUserGroupsAndOrganizationsActivitiesCountRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getUserGroupsAndOrganizationsActivitiesCountResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserGroupsAndOrganizationsActivities">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getUserGroupsAndOrganizationsActivitiesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getUserGroupsAndOrganizationsActivitiesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserOrganizationsActivitiesCount">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getUserOrganizationsActivitiesCountRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getUserOrganizationsActivitiesCountResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserOrganizationsActivities">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getUserOrganizationsActivitiesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getUserOrganizationsActivitiesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.social.portlet.liferay.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SocialActivityServiceSoapService">
		<wsdl:port binding="impl:Portlet_Social_SocialActivityServiceSoapBinding" name="Portlet_Social_SocialActivityService">
			<wsdlsoap:address location="http://localhost:8080/api/axis/Portlet_Social_SocialActivityService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>